<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body align="center">

<h1>Favorite Acronyms</h1>
<p></p>
<p></p>
<p></p>
<p>Genevieve M. : afaik</p>
<p>Matthew G. : YOLO</p>
<p>Micah H. : IYKYK</p>
<div class="text-center">
    <img src="https://ih1.redbubble.net/image.682670612.4185/raf,750x1000,075,t,101010:01c5ca27c6.jpg" class="rounded w-50">
</div>

</body>
</html>